// DRAWER STYLES
.drawer {
    @include respond(tablet) {
        display: none;
        visibility: hidden;
    }

    &--logo {
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        height: 120px;
        width: 200px;
        cursor: pointer;
        background-image: url(../../../public/assets/pictures/EximSoftware.svg);
        background-repeat: no-repeat;
        background-size: 100%;
        margin: 0 auto;

        // &-sample {
        //     border-radius: 5px;
        //     height: 100px;
        //     width: 200px;
        //     background-color: rgba(0, 0, 0, .1);
        //     display: flex;
        //     align-items: center;
        //     justify-content: center;

        //     &::after {
        //         content: "Software Inc.";
        //         opacity: .5;
        //     }
        // }
    }

    &--menubar {
        margin-top: 1rem !important;
    }

    &--icon {
        min-width: 35px !important;
        & svg {
            fill: $color-blue;
        }
    }

    &--item {
        width: 90%;
        & span { font-size: $normalSize !important; color: $color-blue; }
    }

    &--menu {
        // padding: .8rem .9rem;
        border-radius: 5px !important;
        list-style: none;
        cursor: pointer;
        transition: all ease-in-out .2s !important;

        &.border-left { border-left: 4px solid transparent; }
        &.active-menu-item {
            border-left: 4px solid $color-blue;
            background-color: rgba($color: $color-blue, $alpha: .2) !important;
            color: $white;
            & .drawer--icon svg { fill: rgba($color: $color-orange, $alpha: .9) !important; }
            & .drawer--item span { color: $color-black; }
        }
        // MAKE THAT MENU ITEM AS A HOVERED ITEM
        &.hover { background-color: rgba($color: $color-orange, $alpha: .1) !important; }

        &:hover { background-color: $color-blue-hover !important; }
        &:not(:last-child) { margin-bottom: .1rem !important; }
    }
}