$appColor: #f1f5f9;
$appColorCloser: #edf2f7;
// DRAWER SETTINGS
$drawerWidth: 320px;
$navbarWidth: 330px;

$white: #fff;
$color-black: #000;
$color-blue: #004264;
$color-blue-hover: #0042631a;
$color-orange: #ef7c01;

// STATUS COLORS
$color-danger: #e45454;
$color-success-dark: #219652;
$color-dark-cancel: #840100;

// STATUS BUTTON COLORS
$color-success: #39B855; //SUCCESS
$color-gray: #D9D9D9; // WAITING
$color-yellow: #E9A41F; // IN PROCESS
$color-orange-2: #D96D09; // WARNING
$color-blue-light: #0972AD; // WARNING-CHECKING
$color-done: #1393AF; // PREPARATION
$color-cyan: #2BD3C9; // PAYMENT-IS-IN-PROCESS
$color-red: #D83131; // CLOSED



//FONTSIZES
$normalSize: 13px;
$middleSize: 18.5px;
$juniorSize: 15.5px;
$staticSize: 14px;

// FONTWEIGHT
$lighterWeight: 300;
$middleWeight: 400;

// BORDERS
$borderRadius: 10px;
$borderRadius20: 20px;

// APPLICATION DRAWER WIDTH
$applicationDrawerWidth: 50%; //650px

// MEDIA SCREEN VARIABLES
$bp-large: 65rem; 