// DEFAULT BUTTONS STYLES
.app-button {
    padding: .5rem 0 !important;
    width: 200px;
    color: $white !important;
    font-size: $normalSize !important;
    text-transform: capitalize !important;
    border-radius: $borderRadius !important;

    &--warning {
        background-color: #ef7c01 !important;
    }
}

.app-button-white {
    padding: .5rem 0 !important;
    width: 200px;
    color: $color-black !important;
    font-size: $normalSize !important;
    text-transform: inherit !important;
    border-radius: $borderRadius !important;
    background-color: $white !important;
    border: 1px solid $color-black !important;
}

.app-button-orange {
    color: $white !important;
    font-size: $normalSize !important;
    text-transform: inherit !important;
    border-radius: $borderRadius !important;
    background-color: $color-orange !important;
    border: 1px solid transparent !important;
}

.app-button-success {
    color: $white !important;
    font-size: $normalSize !important;
    text-transform: inherit !important;
    border-radius: $borderRadius !important;
    background-color: $color-success !important;
    border: 1px solid transparent !important;
}


// MOVEMENTS
.padding-1 { padding: 1rem; }
.padding-height { padding: .7rem 0 !important; }
.padding-height-1 { padding: 1.2rem 0 !important; }
.padding-top { padding-top: .7rem; }
.padding-top-1 { padding-top: 1.2rem; }
.padding-bottom-1 { padding-bottom: 1.5rem !important; }
.padding-bottom-5 { padding-bottom: 5rem !important; }
.margin-top { margin-top: .5rem !important; }
.margin-top-1 { margin-top: 1rem !important; }
.margin-top-small { margin-top: .2rem; }
.margin-side { margin: 0 .5rem; }
.margin-side-1 { margin: 0 1rem; }
.margin-side-2 { margin: 0 2rem; }
.padding-side-1 { padding: 0 1rem; }

.margin-left,
.margin-left-1 { margin-left: .5rem; }
.margin-left-auto { margin-left: auto !important; }
.margin-right { margin-right: .5rem; }
.w-100 { width: 100% !important; }
.w-50 { width: 50% !important; }
.w-20 { width: 20% !important; }
.bg-gray { background-color: #f1f0f1; }
.border-radius { border-radius: $borderRadius; }
.color-orange { color: $color-orange; }

// SIZES
.height-40 {
    height: 40px;
}

// TEXTS
.text {
    font-weight: $middleWeight;
    font-size: $normalSize;
}
.text-white { color: $white; }
.text-orange { color: $color-orange; }
.text-blue { 
    color: $color-blue;
    & * { color: $color-blue; }
}
.text-disabled { color: #a0a0a0 !important; }
.focus-blue { color: #2da0f8 !important; }

.text-left { text-align: left; }
.text-uppercase { text-transform: uppercase; }
.text-center { text-align: center; }
.info-id { text-transform: uppercase; }
.text-link { text-decoration: none; }


.subtitle {
    font-size: $normalSize;
    font-weight: $middleWeight;
}


// DISPLAYS
.display-column-center {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.display-flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.display-flex {
    display: flex !important;
    align-items: center !important;
}
.display-none {
    display: none!important;
    visibility: hidden !important;
}
.display-block { display: block !important; }

// HOVERS
.hover-blue {
    @include transition2s(background);
    background-color: rgba($color: $color-blue-hover, $alpha: .05);
    border-radius: $borderRadius;
    &:hover {
        background-color: $color-blue-hover;
    }
    padding: 0 .5rem;
}

// CIRCLES
.circle--blue {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 20px;
    &::before {
        content: "";
        height: 15px;
        width: 15px;
        left: -20px;
        position: absolute;
        border-radius: 50%;
        background-color: #2da0f8;
    }
}

.circle--white {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 20px;
    &::before {
        content: "";
        height: 15px;
        width: 15px;
        left: -20px;
        background-color: $white;
        position: absolute;
        border-radius: 50%;
    }
}

.circle--success {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 20px;
    &::before {
        content: "";
        height: 15px;
        width: 15px;
        left: -20px;
        background-color: $color-success;
        position: absolute;
        border-radius: 50%;
    }
}

// FORMS

.form {

    &__input {
        height: 40px;
        border-radius: $borderRadius;
        outline: none;
        border: 1px solid $color-blue;
        width: 100%;
        padding-left: 1rem;
        font-size: $normalSize;
    }
    
    &__textarea {
        &--input {
            // width: 572px;
            white-space: initial;
            width: 100%;
            height: 150px;
            border-radius: 10px;
            border: 1px solid #004263;
            padding: 15px;
            margin-top: 10px;
            font-size: $normalSize;
            resize: none;
            overflow: break-word;
            outline: none;
        
            font-family: sans-serif;
        
            &:focus, &:active {
                border: 1.5px solid #004263;
                padding: 14.5px;
            }
        }

        &--success {
            & label {
                font-size: $normalSize;
                color: $color-success !important;
            }
            & textarea {
                font-size: $normalSize;
                color: $color-blue !important;
            }

            & div {
                background-color: rgba($color: $color-success, $alpha: .1) !important;

                &::before { border-color: $color-success; }
                &::after { border-color: $color-success; }
            }
        }
    }
}